@media (max-width: 375px) {
    
    .caixa1 {
        height: 390px;
        width: 360px;
    }
    
    .estrela {
        margin-left: 22px;
        margin-top: 30px;
        margin-bottom: -8px;
        width: 43px;
        height: 43px;
    }

    .textoApresentacao span {
        font-size: 27px ;
        line-height: 60px;
    }

    .textoApresentacao {
        margin-left: 20px;
        font-weight: 700;
        width: 310px;
    }
    
    .satisfacao {
        margin-left: 20px;
        width: 310px;
    }

    .radio {
        float: left;
        height: 46px;
        width: 46px;
        margin-top: 2px;
        margin-bottom: 25px;
    }
    
    .radio + .radio {
        margin-left: 20px;
    }
    
      
    .radio label span {
        font-size: 15px;
    }

    .botao {
        height: 53px;
        width: 310px;
    }
    
    .caixa2 {
        height: 390px;
        width: 360px;
    }

    .caixa2 #thank-you{
        margin-top: 35px;
        height: 28%;
    }

    .caixaSelecao {
        margin-top: 25px;
        margin-bottom: 15px;
        height: 30px;
        width: 190px;
    }

    .textoEnviado {
        margin-top: 0px;
        line-height: 24px;
        width: 350px;
    }

    .textoEnviado span {
        line-height: 58px;
    }
    
}